# Node / JS
node_modules/
dist/
.env
.DS_Store
.vscode/
.idea/
coverage/
npm-debug.log
yarn-error.log
*.log
*.tsbuildinfo

# Terraform
/infra/.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfstate.backup
plan.out
*.tfvars
*.tfplan

# OS / IDE
*.DS_Store
*.swp
